MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/stock-portfolio
JWT_SECRET=your-secret-key-here
PORT=5500
FRONTEND_URL=http://localhost:5184,http://localhost:5183
FINNHUB_API_KEY=your-finnhub-api-key
ALPHA_VANTAGE_API_KEY=your-alpha-vantage-api-key
